*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
.logo{
	background-image: url(logo.png);
	background-size: cover;
	height: 50px;
	width: 100px;
	padding: 10px 2px;

}
.menu-mobile{
   	z-index: 7;
   	float: right;
   }
   nav.menu-mobile > i{
    	color: white;
    	font-size: 25px;
    	cursor: pointer;
    }
    nav.menu-mobile > ul{
    	display: none;
    	position: absolute;
    	left: 0;
    	top: 50px;
    	background-color: linear-gradient(to right rgb(126, 213, 111),
		rgb(40, 180, 131));
    	width: 100%;
	  }
	  nav.menu-mobile > ul > li:hover{
		background-color: rgb(126, 213, 111);
		
      }
      nav.menu-mobile a{
		  text-decoration: none;
		  font-size: 16px;
		  color: white;
      }
    nav.menu-mobile > ul> li{
    	border-bottom: 1px solid white;
    	padding: 10px 80px;
    	display: inline-block;
    	width: 100%;

    }

section.banner{
	padding: 210px 0;
	min-height: 600px;
	background-image: linear-gradient(to right, rgba(126,213,111,0.8),
	rgba(40,180,131,0.8)),url(f1.jpeg);
	background-size: cover;
	width: 100%;
	/*clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);*/
	background-position: center;

}
.box {
	position: relative;
	top: 30px;
}
.overlay{
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: rgba(0,0,0,0.5);
	
}
section.banner > .container{
	position: relative;
	z-index: 2;
}
.texte-center{
	text-align: center;
	color: white;
	font-size: 21px;
}
.texte-center h2{
	
	color: #26a599;
	font-size: 50px;
}
.texte-center p{
	padding: 4px 2px;
}
.saber a{
	display: inline-block;
	color: white;
	background-color: #26a599;
	padding: 10px 14px;
	border-radius: 12px;
	font-size: 19px;
}

.loader{
	background: #26a599;
	padding-top: 20px 0;
}
.box2{
	display: none;
}
.marg{
	margin-top: 30px;
}
form {
	position: relative;
	top: 15px;
	margin-bottom: 15px;
}
.loader h2{
	padding-top: 8px;
	color: white;
	font-size: 22px;
}
form input[type='text']{
	width: 75%;
	height: 40px;
	vertical-align: middle;
	border: 1px solid #ccc;
}
form input[type='button']{
	width: 15%;
	height: 40px;
	vertical-align: middle;
	border: 1px solid #ccc;
	margin-left: 2px;
	padding: 10px;
}
div.depoimento h2{
color: #4b4b4b;
text-align: center;
}
div.depoimento blockquote{
	color: #4b4b4b;
	font-size: 16px;
}
.diferencial-container h2, .diferencial-container h3{
	text-align: center;
}
.diferencial-container h3{
	color:#26a599;
}
.diferencial{
	padding: 20px 0;
	background: rgb(225,225,225);
}
.equipa-container{
	padding: 30px 0;
}
.single{
	width: 100%;
	padding: 20px 10px;
	border: 1px solid #ccc;
	box-shadow: 8px 7px 5px -3px rgba(20,20,20,0.6);
}
.equipa h2{
	text-align: center;
	margin: 0;
	padding: 10px 2%;
	background: #26a69a;
	color: white;

}
.foto{
	width: 100%;
	padding-top: 100%;
	background-image: url(nick.jpg);
	background-size: cover;
	border-radius: 50%;
}
section.final {
	padding: 30px 0;
	background: rgb(225,225,225);
	margin-bottom: 60px;
}
section.final textarea {
	height: 120px;
}
section.final input[type=text] {
	width: 100%;
}
section.final h3 {
	color: #4b4b4b;
	font-size: 20px;
	margin: 0;
	margin-bottom: 20px;
	padding: 20px 2px;
}
footer{
	padding: 20px 3px;
	background: rgb(205,205,205);
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 6;
}
.texte-primario{
	animation-name:MovParaDireita;
	animation-duration: 1.8s;
	animation-timing-function: ease-out; 
}
.texte-center p{
	animation-name:MovParaEsquerda;
	animation-duration: 1.8s;
	animation-timing-function: ease-out; 
}
.saber{
	animation-name:MoverBotao;
	animation-duration: 1.5s;
	animation-timing-function: ease-out; 
	
}


@media screen and (max-width: 1024px){
	form.media {
	position: relative;
	top: 0;
	
	

}
.fllex{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-position: center;

}
.loader h2{
	width: 100%;
	margin-top:15px;
	color: white;
	text-align: center;
}
.foto{
	width: 50%;
	padding-top: 50%;
	position: relative;
	left: 25%;
}
}

@keyframes MovParaEsquerda{
	0%{
		opacity: 0;
		transform: translateX(-100px);

	}
	80%{
		transform: translateX(10px);

	}
	100%{
		opacity: 1px;
		transform: translateX(0);

	}
}

@keyframes MovParaDireita{
	0%{
		opacity: 0;
		transform: translateX(100px);

	}
	80%{
		transform: translateX(-10px);

	}
	100%{
		opacity: 1px;
		transform: translateX(0);

	}
}

@keyframes MoverBotao{
	0%{
		opacity: 0;
		transform: translateY(30px);

	}

	100%{
		opacity: 1px;
		transform: translate(0);

	}
}
.animater {
	opacity: 0;
	transform: translate3d(-100px,0,0);
	transition: .3s;
}
.animater-start {
	opacity: 1;
	transform: translate3d(0,0,0);
	
}


